@mark-colour: #525252;
@inner-ring-colour: #edecec;
@primary-black: #282828;
@system-red: #E91816;

.react-clock {
  display: block;
  position: relative;

  &, & *, & *:before, & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid black;
    border-radius: 50%;
  }

  &__hand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;

    &__body {
      position: absolute;
      background-color: black;
      transform: translateX(-50%);
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;

    &__body {
      position: absolute;
      background-color: black;
      transform: translateX(-50%);
    }
    
    &__number {
      position: absolute;
      left: -40px;
      width: 80px;
      text-align: center;
    }
  }

  &__second-hand {
    &__body {
      background-color: red;
    }
  }
}

.react-clock.newUI {
  font-family: 'Apercu Pro Regular', sans-serif;

  .react-clock__face-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 50%;
    box-shadow: inset -0.3em -0.3em 0.3em 0 rgba(0, 0, 0, 0.075), inset 0.15em 0.25em 0.4em 0px rgba(0, 0, 0, 0.05);
    padding: 0.63em;
    z-index: -1;
  }

  .react-clock__face-inner {
    position: absolute;
    top: 0.6em;
    bottom: 0;
    left: 0.6em;
    right: 0;

    border-radius: 50%;
    box-shadow: inset 0.6em 0.4em 0.5em 0px rgba(0, 0, 0, 0.07), inset 0.15em 0.25em 0.4em 0px rgba(0, 0, 0, 0.05), -0.3em -0.06em 0.2em 0px rgba(0, 0, 0, 0.15);
    height: calc(100% - 1.2em);
    width: calc(100% - 1.2em);
  }

  .react-clock__face-inner-ring {
    border-radius: 50%;
    border: 0.15em solid @inner-ring-colour;
    height: 50%;
    transform: translateX(50%) translateY(50%);
    width: 50%;
  }

  .react-clock__hand {
    &__body {
      background-color: @primary-black;
      border-radius: 2px;

      &__center {
        background-color: @system-red;
        border-radius: 50%;
        box-shadow: inset 3px -3px 2px 0px rgba(0, 0, 0, 0.1);
        width: 0.63em;
        height: 0.63em;
        bottom: 48%;
        position: absolute;
        transform: translateX(-0.3em);
      }
    }
  }

  .react-clock__mark {
    &__body {
      background-color: @mark-colour;
    }

    &__number {
      color: @primary-black;
    }
  }

  .react-clock__second-hand {
    &__body {
      background-color: @system-red;
    }
  }
}
