@mark-colour: #525252;
@inner-ring-colour: #edecec;
@primary-black: #282828;
@system-red: #E91816;

.react-clock {
  display: block;
  position: relative;

  &, & *, & *:before, & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid black;
    border-radius: 50%;
  }

  &__hand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;

    &__body {
      position: absolute;
      background-color: black;
      transform: translateX(-50%);
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    
    &__body {
      position: absolute;
      background-color: black;
      transform: translateX(-50%);
    }
    
    &__number {
      position: absolute;
      left: -40px;
      width: 80px;
      text-align: center;
    }
  }

  &__second-hand {
    &__body {
      background-color: red;
    }
  }
}

.react-clock.newUI {
  font-family: 'Apercu Pro Regular', sans-serif;

  .react-clock__face-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 50%;
    box-shadow: inset -10px -9px 10px 0px rgba(0, 0, 0, 0.075), inset 5px 8px 13px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
    z-index: -1;
  }

  .react-clock__face-inner {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    right: 0;

    border-radius: 50%;
    box-shadow: inset 20px 13px 16px 0px rgba(0, 0, 0, 0.07), inset 5px 8px 13px 0px rgba(0, 0, 0, 0.05), -10px -2px 7px 0px rgba(0, 0, 0, 0.15);
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .react-clock__face-inner-ring {
    border-radius: 50%;
    border: 6px solid @inner-ring-colour;
    height: 50%;
    transform: translateX(50%) translateY(50%);
    width: 50%;
  }

  .react-clock__hand {
    &__body {
      background-color: @primary-black;
      border-radius: 2px;

      &__center {
        background-color: @system-red;
        border-radius: 50%;
        box-shadow: inset 3px -3px 2px 0px rgba(0, 0, 0, 0.1);
        width: 20px;
        height: 20px;
        bottom: 48%;
        position: absolute;
        transform: translateX(-10px);
      }
    }
  }

  .react-clock__mark {
    &__body {
      background-color: @mark-colour;
    }

    &__number {
      color: @primary-black;
    }
  }

  .react-clock__second-hand {
    &__body {
      background-color: @system-red;
    }
  }
}
